.header{
	min-width: 1190px;
	background: #fff;
}
.header .topNavWrapper{
	background: #fafafa;
	
}
.header .topNavWrapper .topNavPanel{
	width: 1190px;
	height: 29px;
	line-height: 29px;	
	margin: 0 auto;	
}
.header .topNavWrapper .topNavPanel a{
	color: #999;
}
.header .topNavWrapper .topNavPanel .topLogin{
	width: 600px;
	float: left;
}
.header .topNavWrapper .topNavPanel .topLogin>span,
.header .topNavWrapper .topNavPanel .topLogin>a{
	float: left;
	color: #999;
}
.header .topNavWrapper .topNavPanel .topLogin .register{
 padding: 0 6px 0 10px;
}
.header .topNavWrapper .topNavPanel .topNav{
	float: right;
}
.header .topNavWrapper .topNavPanel .topNav li{
	float: left;
}
.header .topNavWrapper .topNavPanel .topNav li>a{
	padding: 0 15px;
}
.header .topNavWrapper .topNavPanel .topNav li>a i{
	display: inline-block;
	width: 8px;
	height: 5px;
	background: url(../../img/index/tour@insprit.png) no-repeat;	
	background-position: -5px -21px;
	vertical-align: middle;
	margin-left: 3px;
	margin-top: -3px;
	overflow: hidden;
}

.header .headerWrapper{
	min-width: 1190px;
	z-index: 1000;	
}
.header .headerWrapper .pageheader{
	width: 1190px;
	margin: 0 auto;
	clear: both;
}
.header .headerWrapper .pageheader .logo-style{
	float: left;
}
.header .headerWrapper .pageheader .logo-style .logo{
	float: left;
}
.header .headerWrapper .pageheader .logo-style .logo a{
	display: block;
	text-align: center;
	height: 100%;
}
.header .headerWrapper .pageheader .logo-style .nowCity{
	float: left;
	line-height: 38px;
	margin-top: 25px;
	position: relative;
}
.header .headerWrapper .pageheader .logo-style .nowCity>a{
	color: #666;
	font-size: 18px;
	display: block;
	padding: 0 10px;
	text-align: center;
	margin-left: 10px;
	border: 1px solid transparent;
	position: relative;
}
.nowCity.active>a{
	box-shadow: 0 0 8px #ccc;
	border-color: #ddd;
	}
.header .headerWrapper .pageheader .logo-style .nowCity>a span{
	height: 40px;
	line-height: 40px;
}
.header .headerWrapper .pageheader .logo-style .nowCity>a i{
	display: inline-block;
	width: 11px;
	height: 6px;
	background: url(../../img/index/tour@insprit2.png) no-repeat;
	background-position: -5px -115px;
	margin-left: 5px;
	vertical-align: middle;
}
.nowCity.active>a:after {
    top: 40px;
}
.nowCity.active>a:after {
    content: '';
    position: absolute;
    top: 38px;
    left: 0;
    height: 20px;
    width: 112%;
    background: #fff;
    z-index: 1003;
}
#showChooseCity{
	border:1px solid #ddd;
	position: absolute;
	background: #fff;
	z-index: 1001;
	padding: 0 20px;
	box-shadow: 0 0 8px 0 #ccc;
}
.recom-city{
	width: 430px;
	
}
.rcc-ban{
	border-bottom: 1px solid #eee;
	height: 30px;
}
.rcc-ban li{
	float: left;
	height: 24px;
	line-height: 24px;
	cursor: pointer;
	margin-left: 40px;
}
.rcc-ban li:first-child {
    margin-left: 0;
}
.rcc-ban .rcc-at span {
    color: #00c77b;
    font-weight: 700;
    position: relative;
}
.rcc-ban .rcc-at span:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #00c77b;
    background-image: linear-gradient(to right,#00bf63,#01c192);
    left: 0;
    bottom: -11px;
}
.rcc-con{
	padding: 10px 0;
	width: 458px;
	overflow: hidden;
}
.rcc-con>span,.rcc-con div span span{
	width: 50px;
	height: 20px;
	line-height: 20px;
	color: #666;
	float: left;
	margin-right: 21px;
	margin-bottom: 6px;
	cursor: pointer;
	transition: all ease 0.2s;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	
}
.rcc-con div>span{
	color: #f60;
	display: block;
	float: left;
	width: 430px;
	
}
.rcc-con div>span:first-child {
    width: 12px;
    font-size: 14px;
    margin-right: 15px;
    line-height: 22px;
    font-weight: 700;
}
.header .headerWrapper .pageheader .s_box_outer{
	float: right;
}
.header .headerWrapper .pageheader .s_box_outer .pt-serach-box{
	display: block;
	margin-right: 46px;	
	padding-top: 25px;
	float: left;
}
.header .headerWrapper .pageheader .s_box_outer .pt-serach-box>div:first-child{
	width: 556px;
	padding: 2px;
	background-color: #00c07b;
	background-image: linear-gradient(to right,#00bf63,#01c192);
	border-radius: 2px;
	position: relative;
}
.header .headerWrapper .pageheader .s_box_outer .pt-serach-box input{
	width: 459px;
	height: 36px;
	line-height: 36px;
	display: inline-block;
	font-size: 14px;
	text-indent: 10px;
	border: none;
	background: #fff;
	float: left;
}
.header .headerWrapper .pageheader .s_box_outer .pt-serach-box input.autofill_empty{
	color: #ccc;
}
.header .headerWrapper .pageheader .s_box_outer .pt-serach-box .pt_search_btn{
	width: 100px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	font-size: 16px;
	text-align: center;
	vertical-align: middle;
	border: none;
	cursor: pointer;
	background-color: #00c07b;
	background-image: linear-gradient(to right,#00bf63,#01c192);
	position: absolute;
	top: 0;
	right: 0;
}
.header .headerWrapper .pageheader .s_box_outer .pt-serach-box .pt_clear_float{
	clear: both;
	height: 0;
	width: 0;
	line-height: 1;
	overflow: hidden;
}
.header .headerWrapper .pageheader .s_box_outer .pt-serach-box .pt_search_hotlist{
	height: 22px;
	position: absolute;
	top: 9px;
	right: 100px;
}
.header .headerWrapper .pageheader .s_box_outer .pt-serach-box .pt_search_hotlist .spenl{
	max-width: 400px;
}
.header .headerWrapper .pageheader .s_box_outer .pt-serach-box .pt_search_hotlist .spenl a{
	display: inline-block;
	height: 22px;
	line-height: 22px;
	color: #999;
	background: #f0f0f0;
	padding: 0 10px;
	border-radius: 12px;
	margin-right: 5px;	
}
.header .headerWrapper .pageheader .s_box_outer .portal-block-box{
	float: left;
}
.header .headerWrapper .pageheader .s_box_outer .portal-block-box .rightpic1{
	margin-left: 5px;
}

.header .menuNavOuter{
	min-width: 1190px;
	z-index: 999;
}
.header .menuNavOuter .menuNavWrapper{
	background-color: #00c07b;
    background-image: linear-gradient(to right,#00bf63,#01c192);
}
.header .menuNavOuter .menuNavWrapper .menuNavPanel{
	width: 1190px;
	margin: 0 auto;
	position: relative;
}
.header .menuNavOuter .menuNavWrapper .menuNavPanel .menuNav{
	height: 46px;
}
#menuNav li{
	float: left;
}
#menuNav li>a b:before {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 5px solid transparent;
    position: absolute;
    left: 50%;
    content: ' ';
    margin-left: -6px;
    bottom: -13px;
    opacity: 0;
    transition: opacity 10ms ease 150ms;
}
#menuNav li.open>a b:before {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 5px solid #fff;
    position: absolute;
    left: 50%;
    content: ' ';
    margin-left: -6px;
    bottom: 0;
    opacity: 1;
}
#menuNav li>a{
	display: block;
	color: #fff;
	font-size: 16px;
	padding: 0 11px;
	line-height: 46px;
	vertical-align: middle;
	position: relative;
}
#menuNav .current>a{
	background: rgba(255,255,255,0.26)
}

#menuNav .current>a b{
	font-weight: 700;
}
#menuNav li>a b:hover{
	font-weight: bold;
}
#menuNav li a>i{
	background: url(../../img/index/tour@insprit.png) no-repeat;
}
#menuNav li a>i.icon01{
	width: 13px;
	height: 6px;
	display: inline-block;
	vertical-align: middle;
	background-position: -3px -172px;
	margin-bottom: 2px;
}
#menuNav li>p{
	font-size: 12px;
	position: relative;
}
#menuNav li p em:before{
	content: '';
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 5px solid transparent;
    border-top: 4px solid #ff6535;
    position: absolute;
    left: 0;
    bottom: -3px;
}
#menuNav li p em{
	height: 16px;
	line-height: 15px;
	color: #fff;
	background: #ff5346;
	padding: 0 2px;
	border-radius: 2px;
	position: absolute;
	top: -10px;
	left: 50%;
	margin-left: -10px;
}
#menuNav li p em i{
	display: block;
	font-size: 12px;
	transform:scale(0.9);
	-webkit-transform: scale(0.9);
    white-space: nowrap;
    letter-spacing: 1px;
    text-indent: 0;
}
#submenuNavBg{
	display: block;
	height: 36px;
	overflow: hidden;
	background: #fff;
}
.pt-abroadservice{
	width: 1190px;
	margin: 0 auto;
}
.pt-abroadservice>span{
	width: 83px;
	height: 36px;
	display: inline-block;
	background: url(../../img/index/aboardService.png) no-repeat;
	position: relative;
}
.pt-abroadservice>span:after {
    content: '';
    display: block;
    position: absolute;
    width: 3px;
    height: 16px;
    left: 0;
    top: 10px;
    background-color: #00bf63;
}
.pt-abroadservice ul{
	display: inline-block;
}

.pt-abroadservice ul>li{
	float: left;
	padding: 0 16px 0 26px;
	position: relative;
}

.pt-abroadservice ul>li:after{
  content: " ";
  display: block;
  width: 1px;
  height: 13px;	
  background-color: #e4e4e4;
  position: absolute;
  right: 0;
  top: 12px;
}
.pt-abroadservice ul li.pt-abroadvisa{
	background: url(../../img/index/abroadvisa.png) no-repeat;
	background-position: 31px 11px;
}
.pt-abroadservice ul li.pt-abroadwifi{
	background: url(../../img/index/insprit-ico.png) no-repeat;
	background-position: -734px -219px;
}
.pt-abroadservice ul li.pt-abroadfun{
	background: url(../../img/index/insprit-ico.png) no-repeat;
	background-position: -492px -59px;
}
.pt-abroadservice ul li.pt-abroadticket{
	background: url(../../img/index/abroadticket.png) no-repeat;
	background-position: 24px 8px;
	
}
.pt-abroadservice ul li.pt-abroadflight{
	background: url(../../img/index/insprit-ico.png) no-repeat;
	background-position: -252px -219px;
}
.pt-abroadservice ul li.pt-abroadhotel{
	background: url(../../img/index/insprit-ico.png) no-repeat;
	background-position: -10px -144px;
}

.pt-abroadservice ul a{
	display: block;
	color: #666;
	height: 36px;
	line-height: 36px;
	padding: 0 8px 0 22px;
}
.pt-abroadservice ul a:hover{
	color: #0FB375;
}
.submenu-nav{
	position: absolute;
	left: 0;
}
.submenu-nav a{
	display: block;
	font-size: 14px;
	color: #666;
	float: left;
	line-height: 46px;
	white-space: nowrap;
	margin-right: 30px;
	position: relative;
}
.submenu-nav a:hover,.rcc-con>span:hover{
	color: #ff5d3d;
}
.submenu-nav a>img{
	width: 24px;
	height: 10px;
	position: absolute;
	top: 5px;
	right: -11px;
}
