img, input, select {
    vertical-align: middle;
}
.content{
	width: 1150px;
	margin: 0 auto;
}
.content .content-title{
	color:#101d37;
	font-size: 28px;
	font-weight: bold;
	line-height: 40px;
	margin-bottom: 5px;
	margin-top: 30px;
}
.content .content_subtitle{
	color: #9399a5;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 30px;
}
.content .content_subtitle i{
	margin-left: 14px;
}
.content .content_subtitle ul{
	display: inline-block;
	margin-left: 50px;
}
.content .content_subtitle ul li{
	position: relative;
}
.content .content_subtitle .duty-ico{
	width: 20px;
	height: 15px;
	vertical-align: top;
	margin-top: 2px;
}
.content .content_subtitle .duty-title{
	margin-left: 2px;
}
.content .content_subtitle span{
	color:#9399a5;
	font-size: 14px;
	line-height: 20px;
	text-decoration: underline;
	letter-spacing: 0;
	cursor: pointer;
}
.content .content_subtitle .duty-pop{
	max-height: 520px;
	width: 500px;
	overflow: hidden;
	overflow-y: auto;
	position: absolute;
	left: auto;
	right: 0;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
	border-radius: 5px;
	padding: 20px 20px 0;
	box-sizing: border-box;
	background: #fff;
	font-size: 12px;
	display: none;
}
	
.content .content_subtitle .dutyPic{
	width: 460px;
}


.content .content_article{
	width: 780px;
	overflow: hidden;
}
.content .content_article .content_article_slide{
	height: 538px;
}
.content .content_article .content_article_slide .content_article_slide_wrapper{
	width: 3900px;
	height: 439px;
}
.content .content_article_slide_wrapper .content_article_slide_item{
	width: 780px;
	height: 100%;
	float: left;
	overflow: hidden;
	cursor: pointer;
}
.content .content_article_slide_wrapper .content_article_slide_item img{
	width: 100%;
	height: 100%;
}
.content .content_thumb_box{
	height: 86px;
	position: relative;
	border: 1px solid red;
	box-sizing: border-box;
}
.content .content_thumb_box .content_article_slide_small{
	border: 1px solid yellow;
	text-align: center;
}
.content .content_thumb_box .content_article_slide_small li{
	display: inline-block;
	width: 126px;
	height: 86px;
	margin-right: 14px;
	opacity: 0.5;
}
.content .content_thumb_box .content_article_slide_small li.active{
	opacity: 1;
}
.content .content_thumb_box .content_article_slide_small li img{
	width: 100%;
	height: 100%;
}
.content .content_thumb_box .content_article_slide_prev{
	display: inline-block;
	width: 36px;
	height: 86px;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: rgba(48,48,51,0.6);
	background-image: url(../img/zufang/prev@2x.png);
	background-repeat: no-repeat;
    background-size: auto 26px;
	background-position: 50%;
	cursor: pointer;
	
	
}
.content .content_thumb_box .content_article_slide_prev:hover{
	background-image: url(../img/zufang/prev_hover@2x.png);
}
.content .content_thumb_box .content_article_slide_next{
	display: inline-block;
	width: 36px;
	height: 86px;
	position: absolute;	
	top: 0;
	right: 0;
	background-color: rgba(48,48,51,0.6);
	background-image: url(../img/zufang/next@2x.png);
	background-repeat: no-repeat;
	background-size: auto 26px; 
	background-position: 50%;
	cursor: pointer;
}
.content .content_thumb_box .content_article_slide_next:hover{
	background-image: url(../img/zufang/next_hover@2x.png);
}
/*.content .content_article{
	width: 780px;
	overflow: hidden;
	
}
.content .content_article_slide{
	height: 538px;
	position: relative;
}
.content .content_article .content_article_slide_wrapper{
	width: 3900px;
	height: 439px;
}
.content .content_article .content_article_slide_item{
	width: 780px;
	height: 100%;	
	float: left;
	overflow: hidden;
	cursor: pointer;
}

.content .content_article .content_article_slide_item img{
	color:#f5f5f6;
	width: 100%;
	height: 100%;
}

.content .content_thumb_box{
	height: 86px;
	margin-top: 15px;
	position: relative;
	border: 1px solid red;
	box-sizing: border-box;
}
.content .content_article_slide_small{
	height: 86px;
	width: 100%;
	text-align: center;
	
}

.content .content_article_slide_small li{
	display: inline-block;
	width: 126px;
	height: 86px;
	margin-right: 14px;
	opacity: 0.5;
	
}


.content .content_article_slide_small li.active{
	opacity: 1;
}
.content .content_article_slide_small img{
	width: 100%;
	height: 100%;
}
.content .content_article_slide_prev{
   background-color: rgba(48,48,51,0.6);
   width: 36px;
   height: 86px;
   position: absolute;
   left: 0;
   bottom: 0;
   background-image: url(../img/zufang/prev@2x.png);
   background-repeat: no-repeat;
   background-position: 50%;
   background-size: auto 26px;
   cursor: pointer;

}
.content .content_article_slide_prev:hover{
	background-image: url(../img/zufang/prev_hover@2x.png);
	background-color: rgba(48,48,51,0.6);
}
.content .content_article_slide_next{
	 display: block;
	 background-color: rgba(48,48,51,0.6);
	 width: 36px;
	 height: 86px;
	 background-image: url(../img/zufang/next@2x.png);
	 background-repeat: no-repeat;
	 background-position: 50%;
	 background-size: auto 26px;
	 cursor: pointer;
	 position: absolute;
	 right: 0;
	 left: auto;
	 bottom: 0;
}
.content .content_article_slide_next:hover{
	 background-image: url(../img/zufang/next_hover@2x.png);
	 background-color: rgba(48,48,51,0.6)
}
.content_article_slide_button{
	width: 105px;
    height: 35px;
    line-height: 35px;
    border-radius: 4px;
    position: absolute;
    right: 25px;
    bottom: 10px;
    font-size: 14px;
    background-color: #fff;
    text-indent: 30px;
    text-align: center;
    cursor: pointer
}*/
